ENV=Development

add_acount_url="https://homolog.app2.meuml.com/#/adicionarconta"
base_url=https://homolog.app2.meuml.com
BASE_URL=https://homolog.app2.meuml.com
BASE_URL_API=https://homolog.app2.meuml.com:8000
CLEAN_URL=127.0.0.1


ROOT_FOLDER=/home/leonardo/Repositories/Gebit/Bitflix/meuml-v2
root_folder=/home/gebit-dev/Gebit/Bitflix/meuml-v2
logs_folder=/home/gebit-dev/Gebit/Bitflix/meuml-v2


API_DEBUG=1
API_HOST=0.0.0.0
API_PORT=8000
URL='http://0.0.0.0:8000'


PG_DB_HOST=0.0.0.0
PG_DB_PORT=5432
PG_DB_DIRECT_PORT=5432
PG_DB_USER=postgres
PG_DB_PASSWORD=
PG_DB_NAME=bitflix_pg


#DB_USER_PROD=postgres
#DB_PASSWORD_PROD=
#DB_HOST_PROD=192.99.0.98
#DB_PORT_PROD=5432
#DB_NAME_PROD=bitflix_pg


workers_location='workers'
broker_url='redis://:your_redis_password_here@localhost:6379/'
accept_content='application/json'
task_serializer='json'
result_serializer='json'
enable_utc=False
tasks_folder='workers.tasks'


SITE_URL='https://homolog.app2.meuml.com'
JWT_SECRET_KEY=
JWT_SECRET='your_jwt_secret_here'
JWT_EXPIRES=7


MAIL_SERVER='smtp.hostinger.com.br'
MAIL_PORT=587
MAIL_USERNAME='contato@meuml.com'
MAIL_PASSWORD=
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_LIST=


SENDGRID_API_KEY=


REDIRECT_URl="https://homolog.app2.meuml.com/#/adicionarconta"
AUTHORIZE_URL="https://auth.mercadolivre.com.br/authorization"
CALLBACK_URL="https://homolog.app2.meuml.com/#/callback"
TOKEN_URL="https://api.mercadolibre.com/oauth/token"
CLIENT_ID=your_client_id_here
CLIENT_SECRET=


REDIS_PASSWORD=your_redis_password_here
REDIS_PORT=6379


WEBMONITOR_USER1=your_username_here
WEBMONITOR_PASSWORD1=your_password_here


LOGO_MEUML="https://i.ibb.co/9TSVhSS/logo-boleto.png"
EXPIRES_IN_X_DAYS=1
PJBANK_URL="https://sandbox.pjbank.com.br"
PJBANK_WEBHOOK_KEY=
PJBANK_CREDENTIALS=
PJBANK_KEY=
PJBANK_BOLETO_CREDENTIALS=
PJBANK_BOLETO_KEY=


SHOPEE_PARTNER_ID=your_shopee_partner_id_here
SHOPEE_PARTNER_KEY=
SHOPEE_API_URL='https://partner.uat.shopeemobile.com'
SHOPEE_AUTHORIZE_URL="/api/v2/shop/auth_partner"
SHOPEE_DEAUTHORIZE_URL="/api/v2/shop/cancel_auth_partner"
SHOPEE_REDIRECT_URL="https://homolog.app2.meuml.com/shopee/callback/add"
SHOPEE_REMOVE_REDIRECT_URL="https://homolog.app2.meuml.com/shopee/callback/remove"


PLUGNOTAS_API_URL=https://api.sandbox.plugnotas.com.br
PLUGNOTAS_API_KEY=


MINIO_URL=127.0.0.1:9000

SUPPORT_PASSWORD="your_password_here"
